.hidden {
  display: none;
}
.navbar {
  background-color: #0d1f2d;
}
body {
  background-color: #9ea3b0;
}
.card {
  background-color: #a7abb7;
}

.center {
  margin: auto;
  width: 60%;
  /* border: 5px solid #ffff00; */
  padding: 5px;
}

a:link,
a:visited,
a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

.button_space {
  margin: 10px;
}

.form_space {
  margin-top: 10px;
}

.float-container {
  padding: 20px;
}

.float-child {
  width: 50%;
  float: left;
  padding: 20px;
}
.link {
  text-decoration: none;
}

.left {
  float: left;
  width: 33%;
}
