{%extends 'blog/base.html'%}
{% load crispy_forms_tags %}

{%block content%}
<div class="w-75 container">
  {% if messages %}
  <ul class="messages">
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
  </ul>
  {% endif %}
</div>


<div class=" w-75 container content-section">
      <h3 class="account-heading">Name: {{user.first_name}} {{user.last_name}}</h3>
      <h4 class="account-heading">Username: {{ user.username }}</h4>
      <p class="text-secondary">Email: {{ user.email }}</p>

<!-- Rendering data from the profile model -->
      {%for profile in profile_data%}
        {{profile.subjectOfInterest}}
        {{profile.goal}}
        {{profile.age}}
      {%empty%}
        empty
      {%endfor%}

    </div>
  </div>

<div class="w-75 container">
  <button type="button" id='formbtn'class="btn btn-dark">Update Profile</button>
  <button type="button" id='closebtn'class="btn btn-dark hidden">Cancel Update</button>          

</div>

<div class="w-75 container profile hidden">
    <main class="form-signin">
        <form method="POST">
            {%csrf_token%}
          <h1 class="h3 mb-3 fw-normal">Update Profile</h1>
            {{user_form|crispy}}
            {{p_form| crispy}}
            <br>
          <button class="w-15 btn btn-dark" type="submit">Update </button>          
          <p class="mt-5 mb-3 text-muted">©2021</p>
        </form>
      </main>
    </div>
{%endblock content%}