{%extends 'blog/base.html'%}
{% load crispy_forms_tags %}

{%block content%}

<div class=" container content-section">
      <h3 class="account-heading">Name: {{user.first_name}} {{user.last_name}}</h3>
      <h4 class="account-heading">Username: {{ user.username }}</h4>
      <p class="text-secondary">Email: {{ user.email }}</p>
    </div>
  </div>

<div class="container">
  <button type="button" class="btn btn-dark">Update Profile</button>
</div>

<div class="container profile">
    <main class="form-signin">
        <form method="POST">
            {%csrf_token%}
          <h1 class="h3 mb-3 fw-normal">Update Profile</h1>
            {{form|crispy}}
          <button class="w-15 btn btn-lg btn-primary" type="submit">Update </button>
          <p class="mt-5 mb-3 text-muted">©2021</p>
        </form>
      </main>
    </div>
{%endblock content%}