
{%extends "blog/base.html"%}
{% load crispy_forms_tags %}

{%block content%}
  <div class="container mt-5">
    <div class="row">
      <div class="col-lg-8">
        <!-- Post content-->
        <article>
          <!-- Post header-->
          <header class="mb-4">
            <!-- Post title-->
            <h1 class="fw-bolder mb-1">{{posts.title}}</h1>
            <!-- Post meta content-->
            <div class="text-muted fst-italic mb-2">
              Posted on {{posts.created_on}}, by {{posts.author}}
            </div>
    
          </header>
          <!-- Post content-->
          <section class="mb-5">
            <p class="fs-5 mb-4">
             {{posts.content}}
            </p>
          </section>
        </article>
        {%if user.is_authenticated%}
<div class="w-75 container">
  <a class="fa fa-edit" href="{%url 'post-update' posts.id%}"></a>
  <a class="fa fa-trash" href="{%url 'post-delete' posts.id%}"></a>
</div>
{%else%}
{%endif%}
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>


<!-- Comment Section -->
<div class="w-75 container">
  <h3 class="mt-5">Conversation</h3>
  
</div>

<!-- Comment Form -->
<!-- Check if user is authenticated  -->
{%if user.is_authenticated%}
<br> 
<div id = 'comment' class="w-75 container">
  <main class="form-signin">
      <form method="POST">
          {%csrf_token%}
        <h1 class="h4 mb-3 fw-normal">Post a Comment</h1>
          {{form|crispy}}
        <button class="w-15 btn btn-lg btn-primary" type="submit">Comment </button>
      </form>
    </main>
  </div>
  {%else%}
  <br>
  <div class="container">
    <h6>Please <a href="{%url 'login'%}">Log In</a> to comment</h6>

  </div>
  {%endif%}


{%endblock content%}