
{%extends "blog/base.html"%}
{% load crispy_forms_tags %}

{%block content%}
<div class="container">
    <h1 class="mt-5">{{ posts.title }}</h1>
    <p class="lead">{{posts.author}} {{posts.created_on}}</p>
    <p class="lead">{{posts.content}}</p>
  </div>

{%if user.is_authenticated%}
<div class="container">
  <a href="{%url 'post-update' posts.id%}">Update</a>
  <a href="{%url 'post-delete' posts.id%}">Delete</a>
</div>
{%else%}
{%endif%}
<!-- Comment Section -->
<div class="container">
  <main class="form-signin">
      <form method="POST">
          {%csrf_token%}
        <h1 class="h3 mb-3 fw-normal">Comment </h1>
          {{form|crispy}}
        <button class="w-15 btn btn-lg btn-primary" type="submit">Comment </button>
      </form>
    </main>
  </div>


{%endblock content%}