{%extends "blog/base.html"%} {%block content%}

<div class="container center">
  <div class="container center">
    <h1 class="center">Let's Study</h1>
  </div>
  <div class="container center">
    <p class="center">Time to learn from each other</p>
  </div>
</div>

<div class="container a">
  {%if user.is_authenticated %}
  <p>
    Would you like to <a href="#"> create</a> a Study Guide {{user.first_name}}?
  </p>
  {%else%}
  <p>
    If you would like to create study guide you can
    <a href="{%url 'login'%}"> log in</a> here.
  </p>
  {%endif%}
</div>

{%endblock content%}
