{%extends "blog/base.html"%} {%block content%}

<div class="container center">
  <div class="container center">
    <h1 class="center">Let's Study</h1>
  </div>
  <div class="container center">
    <p class="center">Time to learn from each other</p>
  </div>
</div>

<div class="content center float-container">
  <div class="float-child">
    <h5>Your Study Guides</h5>

    <div>
      {%if user.is_authenticated %}
      <p>Create New Guide<a href="{%url 'create-guide'%}"> &#8853;</a></p>
      {%else%}
      <p>
        If you would like to create study guide you can
        <a href="{%url 'login'%}"> Log In</a> here.
      </p>
      {%endif%}
    </div>
  </div>

  <div class="float-child">
    <div>
      <h5>Most Recent Study Guides</h5>
    </div>
    <div>
      <!-- !Needs styling and link -->
      {%for sg in study_guides%} {{sg.title}} {{sg.author}} {{sg.created_on}}
      {{sg.subject}} {{sg.content}} {{sg.photo}} {%endfor%}
    </div>
  </div>
</div>

{%endblock content%}
