{%extends "blog/base.html"%}

{%block content%}
<!-- Intro to the quiz page -->
<main class=" w-75 container">
    <div class="starter-template text-center py-5 px-3">
      <h1>PyQuiz</h1>
      <p class="lead">Quiz Time</p>
    </div>

<!--  For loop for the quizzes already created-->
<div class="w-75 text-center container"> 
  {%for quiz in object_list%}
  {{quiz.title}}
  {{quiz.subject}}
  {%empty%}
    <p class="lead">No quizzes yet</p> 
  {%endfor%}
</div>

<main class="w-75 container">
    <div class="starter-template text-center py-5 px-3">
      <p class="lead">Do you want to create a quiz?</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Create Quiz »</a></p>
    </div>

  </main>{%endblock content%}